@import "tailwindcss";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: #f5f5f5; /* OLX-like light gray */
}

.dropdown-menu {
  @apply absolute top-full left-0 mt-1 bg-white border border-gray-200 rounded-md shadow-lg py-2 z-50 w-64 overflow-y-auto max-h-80;
}